<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Redeliste</title>
    </head>
    <body>
        <main id="redeliste">
            <section id="personen-container">
                <h2>Personen</h2>
                <ul id="personen">
                    <person
                        v-for="p in sortedPersons"
                        v-bind:person="p"
                        v-bind:disabled="isDisabled(p.id)"
                        v-on:add-speaker="addSpeaker(p.id)"
                    ><person>
                </ul>
                <p id="add-personen">
                    <input v-model="newPerson" v-on:keyup.enter="addPerson">
                    <button v-on:click="addPerson">Hinzufügen</button>
                </p>
            </section>
            <section id="speakers-container" v-if="nextSpeaker">
                <hr>
                <h2>
                    Nächste*r Redner*in:
                    <button v-on:click="callNextSpeaker">
                        {{ nextSpeaker.name }}
                    </button>
                </h2>
                <ul id="following-speakers" v-if="followingSpeakers">
                    <li v-for="s in followingSpeakers">{{ s.name }}</li>
                </ul>
            </section>
        </main>
        <footer>
            <hr><p>
                &copy; 2019 <a href="https://github.com/memowe">@memowe</a>
                | <a href="https://github.com/memowe/redeliste">Project</a>
            </p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="redeliste.js"></script>
    </body>
</html>
