<!doctype html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <title>Redeliste</title>
    </head>
    <body>
        <main id="redeliste">
            <ul id="personen">
                <li v-for="p in sortedPersons">
                    <button v-on:click="addSpeaker(p.id)">{{ p.name }}</button>
                </li>
            </ul>
            <div id="add-personen">
                <input v-model="newPerson">
                <button v-on:click="addPerson">Hinzufügen</button>
            </div>
            <div id="speakers-container" v-if="speakers.length > 0">
                <hr>
                <h2>Nächste Redner*innen</h2>
                <ul id="speakers">
                    <li v-for="s in speakers">{{ s.name }}</li>
                </ul>
            </div>
        </main>
        <footer>
            <hr><p>
                &copy; 2019 <a href="https://github.com/memowe">@memowe</a>
                | <a href="https://github.com/memowe/redeliste">Project</a>
            </p>
        </footer>
        <script src="https://unpkg.com/vue"></script>
        <script src="redeliste.js"></script>
    </body>
</html>
